.home {
    /* background-image: url(../images/432466.webp); */
    /* background-color: #697272; */
    /* background-color: #2D2D2D; */
    text-align-last: center;
    align-items    : center;
    font-size      : 1.4rem;
    height         : 100rem;
    position       : relative;
    display        : flex;
    flex-direction : column;
    gap            : 40px;
    width          : 85%;
    margin         : 0 auto;

}

.filters {
    display        : flex;
    justify-content: space-evenly;
    width          : 100%;

}

.filters select {
    background-color: #2D2D2D;
    color           : white;
    padding         : 1em;
    border-radius   : 10px;
    width           : 12.4rem;
    cursor          : pointer;
    transition      : .5s
}

.filters select:hover {
    background-color: #414141;
    border-color    : transparent;
    color           : white;
}

/* .paginate {
    padding : 2rem;
    position: relative;
    top     : 60px;
} */

.paginado__number {
    padding         : 0.5em 1em 0.5em 1em;
    border-radius   : 5px;
    background-color: transparent;
    color           : #888568;
    border          : 1px solid #767676;
    cursor          : pointer;
}

.paginado__number:hover {
    color: white;
}

.paginado__number:focus {
    color: white;
}

.paginado {
    display             : flex;
    justify-content     : center;
    gap                 : 10px;
    padding-inline-start: none;
}

.createcontainer {
    display        : flex;
    justify-content: center;
    gap            : 10px;
    align-items    : center;
    height         : 8rem;
    padding        : 2em 0 0 0;
}

.btn {
    transition     : .3s;
    color          : #fff !important;
    font-size      : 1.4rem;
    font-weight    : 500;
    padding        : .5em 0.5em;
    background     : transparent;
    border         : 2px solid;
    border-color   : #767676;
    position       : relative;
    text-decoration: none;
    border-radius  : 10px;
    width          : 14rem;
    cursor         : pointer;
    margin         : 100px;
}

.btn:hover {
    background-color: #3f3c3c;
    border-color    : transparent;

}

.searchbar {
    display    : flex;
    gap        : 10px;
    margin-left: 5rem;
}

.searchbar__input {
    background-color: transparent;
    outline         : 1px solid #767676;
    border-radius   : 5px;
    border          : none;
    text-align      : center;
    color           : #fff;

}

.searchbar__input::placeholder {
    color: white;
}

.searchbar__button {
    border-radius  : 20%;
    display        : flex;
    justify-content: center;
    align-items    : center;
    padding        : 0.5em;
    border         : none;
    cursor         : pointer;
}