.home {
    /* background-image: url(../images/432466.webp); */
    background-color: #050B25;
}

/* html {
    color: white;

} */

/* a {
    color: white;
    text-decoration: none;
} */

/* input{
    background-color: transparent;
    border: none;
    color: white;
} */