/* .landing { */
/* display         : flex; */
/* background-image: url(https://c4.wallpaperflare.com/wallpaper/516/630/429/minimalism-video-games-cartoon-wallpaper-preview.jpg);
    background-size : cover; */
/* } */

/* body {
    display          : flex;
    background : url(../images/432466.webp);
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding-right: 15%;
    padding-top: 7%;
   
    background-size: 100%;

}

body h1{
    color: #003566;
} */
