.pacman {
    margin: 0 10rem 14rem 0;
    /* margin-right:12rem;
    margin-right: 14rem;
    margin-bottom: 14rem; */
    /* animation-name           : pacman-mamao;
    animation-duration          : 2s;
    animation-timing-function   : ease-in-out;
    animation-direction         : alternate;
    animation-iteration-count   : infinite; */
}

.Loading {
    display         : flex;
    overflow        : hidden;
    background-color: #414141;
    justify-content : center;
    align-items     : center;
    height          : 100vh;
}

/* @keyframes pacman-mamao {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
} */